<div data-sly-use.Sticker="com.adobe.aem.guides.wknd.core.models.Sticker"
data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
data-sly-test.hasContent="${!sticker.empty}"
class="cmp-sticker">
    <div class="cmp-sticker__container"
        data-sly-resource="${ '.' @ resourceType = 'core/wcm/components/container/v1/container' }">
        <span class="cmp-sticker--round">
            <p class="cmp-sticker--title">${sticker.title}</p>
        </span>
        <p class="cmp-sticker--text">${sticker.text}</p>
    </div>
</div>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasContent}"></sly>

