
    .cmp-card {
        $imageSize: 100px;
        padding: 20px;
        margin: 20px 0;
        margin-bottom: 50px;

        .cmp-card__image {
            float: left;

            /* This class targets a Core Component Image CSS class */
            .cmp-image__image {
                width: $imageSize;
                height: $imageSize;
                object-fit: cover;
                margin-right: 10px;
            }
        }

        .cmp-card__image--below {
            display: none;
            /* This class targets a Core Component Image CSS class */
            .cmp-image__image {
                width: $imageSize;
                height: $imageSize;
                object-fit: cover;
                margin-right: 10px;
            }
        }

        .cmp-card__title {
            font-size: $font-size-medium;
            font-family: $font-family-serif;
            padding-top: 0.5rem;
            margin-left: $imageSize + 25px;
            margin-bottom: .25rem;
            margin-top:0rem;
        }

        .cmp-card__description {
            font-size: $font-size-small;
            font-family: $font-family-serif;
            padding-top: 0.5rem;
            margin-left: $imageSize + 25px;
            margin-bottom: .25rem;
            margin-top:0rem;
        }

        .cmp-card__button {
            float: right;
            display: inline;
            padding: 5px 10px;
            border: 1px solid #2e6430;
            text-decoration: none;
            border-radius: 25px;
            background-color: transparent;
            color: #2e6430;

            &:hover {
                background-color: #2e6430; /* Green */
                color: white;
            }
        }     
    }
    //light green background style
    .cmp-card--bg--green {
        background-color: $green-light;
    }
        
    //light red background style
    .cmp-card--bg--red {
        background-color: palevioletred;
    }

     //light blue background style
     .cmp-card--bg--blue {
        background-color: $blue-light;
    }

     //light pink background style
     .cmp-card--bg--pink {
        background-color: $pink-light;
    }

    //dark green title style
    .cmp-card--title--darkgreen {
        .cmp-card {
            .cmp-card__title {
                color: $dark-green;
            }
        }
    }

    //full width image
    .cmp-card--image--big {
        .cmp-card {
            .cmp-card__title, .cmp-card__description {
                margin-left: 0;
            }
            .cmp-card__image {
                float: none;
                .cmp-image__image {
                    $imageSize: 200px;
                    width: 100%;
                    overflow: hidden;
                    height: $imageSize;
                    object-fit:fill;
                    margin-right: 0;
                }
            }
        }
    }

    //position image at the bottom of the component
    .cmp-card--image--place--bottom {
        .cmp-card {
            .cmp-card__title, .cmp-card__description {
                margin-left: 0;
            }
            .cmp-card__image--below {
                display: block;
                float: right;
                margin-bottom: 17px;
                margin-right: 20px;
                .cmp-image__image {
                    $imageSize: 150px;
                    width: $imageSize;
                    overflow: hidden;
                    height: $imageSize;
                    object-fit:fill;
                    margin-right: 0;
                }
            }
            .cmp-card__image {
                display: none;
            }
        }
    }



    //turn button into link
    .cmp-card--button--link {
        .cmp-card {
            .cmp-card__button {
                float: left;
                display: inline;
                text-decoration: none;
                color: $blue;
                padding: 0;
                border: none;
                &:hover {
                    text-decoration: underline;
                    background-color: transparent;
                }
            }
        }
    }
