
    .cmp-showcase {
        padding: 20px;
        background-color: $blue-lighter;
      
        .cmp-showcase__title {
            font-family: $font-family-serif;
            margin-left: 5%;
        }

        .cmp-showcase__container {
            padding: 20px 40px;
            background-color: white;
            width: 80%;
            margin: 0 auto;

            .cmp-container__container {
                margin: 0;
            }
        }
               
    }



