
    .cmp-showcase {
        padding: 20px;
        background-color: lightblue;
      


        .cmp-showcase__title {
            font-family: $font-family-serif;
            margin-left: 5%;

        .cmp-showcase__container {
            background-color: white;
           
        }
        }       
    }



