.cmp-card2 {
    $imageSize: 70px;
    $width : $imageSize*2;
    padding: 20px;
    display: flex;
    justify-content: center; /* center horizontal */
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: $width; 

    .cmp-card2__image {
       

        /* This class targets a Core Component Image CSS class */
        .cmp-image__image {
            width: $imageSize;
            height: $imageSize;
            object-fit:cover;
            display: inline-block;
            margin-right: 10px;
            display: block;
            margin: 0 auto;
        }
    }

    .cmp-card2--hyperlink{

    }

    .cmp-card2__title {
        font-family: $font-family-serif;
     //   margin: 0.25rem 0;
        text-align: center;
    }
}

//align link to the center
.cmp-card2-hyperlink-align--center {
    .cmp-card2 {
        .cmp-card2--hyperlink {
            text-align: center;
        }
    }
}
