.cmp-card2 {
    $imageSize: 70px;
    padding: 20px;
    margin: 0 15px;
    width: fit-content;

    .cmp-card2__image {
       

    /* This class targets a Core Component Image CSS class */
    .cmp-image__image {
        width: $imageSize;
        height: $imageSize;
        object-fit: cover;
        display: block;
        margin: 0 auto;
        }
    }

    .cmp-card2__title {
        font-size: $font-size-medium;
        font-family: $font-family-serif;
        
       
        margin-bottom: .25rem;
        margin-top:0rem;
    }
}