<div data-sly-use.Showcase="com.adobe.aem.guides.wknd.core.models.Showcase"
data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
data-sly-test.hasContent="${!showcase.empty}"
class="cmp-showcase">
    <h1 class="cmp-showcase__title">${showcase.title}</h1>
    <div class="cmp-showcase__container"
    data-sly-resource="${ '.' @ resourceType = 'core/wcm/components/container/v1/container' }"></div>
</div>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasContent}"></sly>

